.basket_container {
  margin-bottom: 100px!important;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.basket_card{
  position: relative;
  height: 150px;
}
.basket_card_img{
  position: absolute;
  width: 150px;
  background-origin: content-box;
  background-repeat: no-repeat;
  padding: 20px;
  background-position: center;
  background-size: cover;
  height: 150px;
}
.basket_card_title{
  position: absolute;
  left: 160px;
  height: 25px;
  font-size: 17px;
  overflow: hidden;
}
.basket_card_description{
  position: absolute;
  color: grey;
  left: 160px;
  top: 55px;
  height: 46px;
  font-size: 14px;
  overflow: hidden;
  line-height: 1.1;
}
.basket_card_price{
  position: absolute;
  left: 160px;
  top: 110px;
}
.basket_control_count{
  position: absolute;
  right: 0;
  top: 60%;
  transform: translateY(-50%);
  background-color: #fffbe8;
  align-items: center;
  display: flex;
  color: grey;
  box-shadow:inset 4px  0 8px #838383;
  font-size: 20px;
  width: 100px;
  user-select: none;
  justify-content: space-around;
  padding: 0 10px;
  border: 1px solid;
  border-right: none;
  border-radius: 20px 0 0 20px;
    span:nth-child(1), span:nth-child(3) {
      cursor: pointer;
      transition: .2s;
      &:hover{
        transform: scale(1.2);
      }
      &:active{
        color: white;
      }
    }
}
.basket_banner{
  width: 100%;
  height: 400px;
  background-image: url("./delivery_men.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.basket_footer{
  width: 100%!important;
  border-radius: 10px;
  margin-bottom: 100px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 2px 5px #8a8a8a;
  position: sticky;
  top: 70px;
  bottom: 20px;
}
.input_phone{
  width: 90%;
  height: 50px;
  margin: 20px 0px;
  border-radius: 5px;
  border: 1px solid grey;
  padding: 10px;
}
.input_phone:focus{
  outline-color: #00b582;
}
.pin-field{
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 30px;
  margin: 10px 10px;
}
.pin-field:focus{
  outline-color: #ffaf00;
  background-color: #fbf8bd;
}
.cart_empty_div{
  width: 100%;
  height: 450px;
  background-position: center;
  background-size: cover;
  background-origin: content-box;
  padding: 220px;
  background-repeat: no-repeat;
  position: relative;
  background-image: url("https://dodopizza-a.akamaihd.net/site-static/dist/121df529925b0f43cc73.svg");
  @media screen and (max-width: 600px) {
    padding: 160px;
  }
}
.cart_empty_title{
  position: absolute;
  color: black;
  bottom: 90px;
  font-weight: 500;
  left: 50%;
  transform: translateX(-50%);
  font-size: 22px;
}